nav i{
    display: none;
}
@media (max-width : 600px) {
    nav i{
        display: initial;
        font-size : 30px;
    }
    nav .middle , nav .end{
        display: none;
    }

    .page1 .carousal {
        justify-content: center;
        height : 60vmax;
    }
    .page1 .carousal h1{
        font-size: 10vw;
    }

    /***************page2***************/
    .page2{
        height : max-content;
        overflow: hidden;
    }
    .page2 .heading .right{
      padding : 5%;
    }
    .page2 .content {
        /* margin : 0 auto; */
        display: initial;
        position : relative;

    }
    .page2 .content .card{
        display: block;
        position : initial;
        margin-left : 3%;

    }
    .page2 .content .card2{
        margin : 20px;
         margin-left : 37vmin;
    }

    /*****************page3**************/
    .page3 {
        height : max-content;
        flex-direction: column;
    }
    .page3 .left , .page3 .right {
        width : 100%;
    }

    /*****page4****************/
    .page4 > h1{
        height: max-content;
        font-size: 10vw;
    }

    /*****************footer************/
    footer .content{
        flex-wrap: wrap;
    }

}
